
<p></p>
<h3 class="text-left">Here is the additional information you provided for:</h3>

<h3><strong><%= @name %> </strong></h3>
<p></p>

  <h4>Cell phone number:</h4>

   <% if Contact.find(@name).phone_numbers().cell() == "" %>
     <form action = "/add_cell" method = "post">
       <label for = "new_cell">Add cell phone number:</label>
       <input id = "new_cell" name = "new_cell" type = "text">
       <% Contact.set_this(@name) %>
       <button type = "submit" class = "btn-primary">Add</button>
    </form>
  <% else %>
    <p><%= Contact.find(@name).phone_numbers().cell() %></p>
  <% end %>

  <h4>Work phone number:</h4>

  <% if Contact.find(@name).phone_numbers().work() == "" %>
    <form action = "/add_work" method = "post">
      <label for = "new_work">Add work phone number:</label>
      <input id = "new_work" name = "new_work" type = "text">
      <% Contact.set_this(@name) %>
      <button type = "submit" class = "btn-primary">Add</button>
    </form>
  <% else %>
    <p><%= Contact.find(@name).phone_numbers().work() %></p>
  <% end %>

  <h4>Pager phone number:</h4>

  <% if Contact.find(@name).phone_numbers().pager() == "" %>
    <form action = "/add_pager" method = "post">
      <label for = "new_pager">Add new pager number:</label>
      <input id = "new_pager" name = "new_pager" type = "text">
      <% Contact.set_this(@name) %>
      <button type = "submit" class = "btn-primary">Add</button>
    </form>
  <% else %>
    <p><%= Contact.find(@name).phone_numbers().pager() %></p>
  <% end %>

  <form action = "/">
    <button type = "submit" class = "btn-primary">Back to main page</button>
  </form>
