<!DOCTYPE html>
<html>
<head>
  <title>Contact Keeper</title>
  <link rel="stylesheet" href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <div class= "container">
    <h1 class="text-center">Contact Keeper App</h1>
    <p class="text-center"><strong>A safe place to store your contacts</strong><br> <em>in case you lose your phone, address book, and/or personal computer...</em><br>yah, we got your back.</p>
    <%= yield %>
  </div>
</body>
</html>
