<h1>Here is the additional information you provided for <%= @contact.name() %> </h1>

<h4><%= @phone_number.new_numbers() %></h4>
<h4><%= @phone_number.type() %></h4>


<a href="/">Return to Main Page</a>
